@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Muli');

/*
!*main color 56ACFF*!
!*

@media only screen and (max-width: 1000px){
    body {
        background: linear-gradient(
                to right,
                palegreen,
                #ebee5c 5%,
                #d5fff3 5%,
                #d5fff3 95%,
                #ebee5c 95%,
                palegreen
        );
    }

    table {
        !*border: 1px solid black;*!
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media only screen and (min-width: 1000px){
    table {
        !*border: 1px solid black;*!
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
*!
*/
html, body {
    margin: 0;
}
body {
    background: #d0f0ff;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.small-box {
    min-width: 300px;
    max-width: 30%;
}
.medium-box {
    min-width: 500px;
    max-width: 50%;
}
.large-box {
    min-width: 800px;
    max-width: 80%;
}

#showImageDialog {
    max-width: 100%;
    max-height: 100vh;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}
.flex-vertical>*, .flex-vertical>.ui-inputfield {
    margin: 0 0 5px 0;
}
.flex-horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex-horizontal>* {
    margin: 0 5px 0 0;
    flex: 1 1;
}
.flex-not-resizable {
    flex: 0 0;
}
.flex-no-wrap {
    flex-wrap: nowrap;
}
.flex-m-ax-start {
    justify-content: start;
}
.flex-c-ax-start {
    align-items: start;
}
.flex-m-ax-center {
    justify-content: center;
}
.flex-c-ax-center {
    align-items: center;
}
.flex-m-ax-end {
    justify-content: end;
}
.flex-c-ax-end {
    align-items: end;
}

.flex-horizontal .ui-picklist, .flex-vertical .ui-picklist {
    min-width: 530px;
}
.flex-horizontal .ui-picklist .ui-picklist-list, .flex-vertical .ui-picklist .ui-picklist-list{
    width: initial;
}

.resizable-calendar.ui-calendar input {
    max-width: 90%;
}

.column-buttons {
    width: 42px;
}
.column-id {
    width: 62px;
}
.column-type {
    width: 82px;
}
.column-name {
    width: 165px;
}
.column-owner {
    width: 165px;
}
.column-date {
    width: 170px;
}
.column-visibility {
    width: 82px;
}

button .ui-icon {
    width: 18px;
    height: 18px;
}

/*
table {
    !*border: 1px solid black;*!
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

textarea, input[type="text"], input[type="password"] {
    border: 1px solid #1C62A6;
    background: linear-gradient(to bottom, #c2ddff, #eff8ff 30%);
}

.decoratedButton, .ui-button.decoratedButton {
    background-color: #56ACFF;
    border: 1px solid #1C62A6;
    color: white;
    text-align: center;
    padding: 10px 20px;
    min-width: 150px;
    white-space: nowrap;
}
.decoratedButton:focus{
    background-color: #4694d7;
    outline: none;
}
.decoratedButton::-moz-focus-inner {
    border: 0;
}
.decoratedButton:hover {
    box-shadow: 0 0 10px 3px lightgray;
}
.decoratedButton:active {
    background: #4080bd;
}

.ui-corner-all.decoratedButton {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

*/
#nameBoard {
    color: #56ACFF;
    color: rgba(30,144,255,0.7);
    background-color: #ffffff;
    text-align: center;
    display: block;
    padding: 20px 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#topBar {
    padding-bottom: 5px;
    display: flex;
    background: linear-gradient(to top, rgba(208, 240, 255, 0), #5d5a6f 3px, #0A59A6 5px, #56ACFF 5px);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
#topBar button {
    background: #56ACFF none;
    border: none;
    color: white;
    min-width: 150px;
    margin: 0;
    padding: 16px 32px;
    font-size: large;
    font-weight: normal;
    transition-duration: 0.5s;
    float: left;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
#topBar button:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px 3px lightgray;
}

#topBar button.authenticationFirst {
    margin-left: auto;
}

#mainDiv {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#base {
    min-width: 575px;
    flex-grow: 1;
    margin: 20px 50px 0 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 3px 3px darkgray;
}

#footer {
    padding: 20px 0;
    background-color: #56ACFF;
    color: white;
    text-align: center;
}
#footer a:any-link {
    color: white;
}

#scroller {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 900;
}
#scroller * {
    opacity: 0.3;
}
#scroller:hover * {
    opacity: 0.5;
}
#scroller:active * {
    opacity: 0.8;
}

.dataTable {
    border: 1px solid #1C62A6;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 3px 3px lightgray;
    /*border-radius: 4px;*/
}
/*.dataTable th:first-child {
    border-radius: 4px 0 0 0;
}
.dataTable th:last-child {
    border-radius: 0 4px 0 0;
    border-right: none;
}
.dataTable tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.dataTable tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}*/
.dataTable td, .dataTable th {
    padding: 10px;
}
.dataTableHeader {
    background: linear-gradient(to right, #4c8ed7, #56ACFF  3px);
    color: white;
    font-weight: normal;
    border-bottom: 1px solid #1C62A6;
}
.dataTableRowOdd td {
    background: linear-gradient(to right, #8db8e1, #A2D1FF  3px);
}
.dataTableRowEven td {
    background: linear-gradient(to right, #6ea4d7, #83C2FF  3px);
}

.imagePreview {
    max-width: 200px;
    max-height: 200px;
    cursor: zoom-in;
}

/*
.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}
.tagsContainer * {
    !*border: 1px solid red;*!
    margin: 3px;
}

.textEditor, .textLabel {
    background: rgba(255, 212, 73, 0.11);
    margin: 10px 0;
}
.textLabel {
    display: block;
    border: 1px solid gray;
    padding: 10px;
}

button.largeButton, input[type="button"].largeButton, input[type="submit"].largeButton, .largeButton {
    font-size: large;
    width: 200px;
    height: 100px;
    margin: 10%;
}

.mediumForm{
    width: 50%;
}
.smallForm{
    width: 30%;
}
.centered {
    margin: auto;
}

.mirrorContainer {
    text-align: center;
}
.mirrorContainer > * {
    margin: auto;
}
.mirrorContainer > :first-child {
    font-size: larger;
    margin-bottom: 50px;
}
.mirrorContainer > .mirror {
    display: flex;
    align-items: flex-start;
}
.mirrorContainer > .mirror > * {
    flex: none;
    margin: 10px 1%;
}
.mirrorContainer > .mirror > :nth-child(1) {
    width: 25%;
    text-align: right;
}
.mirrorContainer > .mirror > :nth-child(2) {
    width: 65%;
}
.mirrorContainer > .mirror > :nth-child(3) {
    width: 50%;
    color: red;
    overflow-wrap: break-word;
    border-radius: 100px;
}*/
.borderless, .borderless .ui-widget-content {
    border: none;
}

textarea[id$=description] {
    height: auto;
}

div[id$=newTags]>ul {
    width: auto;
    max-width: 530px;
}