body {
    background: linear-gradient(
            to right,
            palegreen,
            #ebee5c 15%,
            #d5fff3 15%,
            #d5fff3 85%,
            #ebee5c 85%,
            palegreen
    );
}

table {
    /*border: 1px solid black;*/
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.dataTable {
    border: 1px solid #005fff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}
.dataTable th:first-child {
    border-radius: 10px 0 0 0;
}
.dataTable th:last-child {
    border-radius: 0 10px 0 0;
    border-right: none;
}
.dataTable tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.dataTable tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
.dataTableHeader {
    background: linear-gradient(to bottom, #b8ebfa 70%, #8be3fa);
    font-weight: bold;
    border-bottom: 1px solid #005fff;
    border-right: 1px solid #005fff;
}
.dataTableRowOdd {}
.dataTableRowEven {}
.dataTableRowOdd td {
    background: #dafff9;
}
.dataTableRowEven td {
    background: #c7f6ed;
}

.topBar {
    margin: 4% 20% 1% 20%;
    width: 60%;
}
.authenticationBlock {
    width: auto;
    margin-left: auto;
    margin-right: unset;
}