@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
    margin: 0;
}
/*

@media only screen and (max-width: 1000px){
    body {
        background: linear-gradient(
                to right,
                palegreen,
                #ebee5c 5%,
                #d5fff3 5%,
                #d5fff3 95%,
                #ebee5c 95%,
                palegreen
        );
    }

    table {
        !*border: 1px solid black;*!
        width: 88%;
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media only screen and (min-width: 1000px){

    body {
        background: #d0f0ff;
    }

    table {
        !*border: 1px solid black;*!
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}
*/

body {
    background: #d0f0ff;
}

body, input {
    font-family: 'Muli', sans-serif;
}

table {
    /*border: 1px solid black;*/
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.decoratedButton, .ui-button.decoratedButton {
    background-color: #56ACFF;
    border: 1px solid #1C62A6;
    color: white;
    text-align: center;
    padding: 10px 20px;
    min-width: 150px;
}
.decoratedButton:focus{
    background-color: #4694d7;
    outline: none;
}
.decoratedButton::-moz-focus-inner {
    border: 0;
}
.decoratedButton:hover {
    box-shadow: 0 0 10px 3px lightgray;
}
.decoratedButton:active {
    background: #4080bd;
}

.ui-corner-all.decoratedButton {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}


.nameBoard {
    color: #56ACFF;
    color: rgba(30,144,255,0.7);
    background-color: #ffffff;
    text-align: center;
    display: block;
    padding: 20px 0;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 92px;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.topBar {
    padding-bottom: 5px;
    display: flex;
    background: linear-gradient(to top, rgba(208, 240, 255, 0), #5d5a6f 3px, #0A59A6 5px, #56ACFF 5px);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.topBar .topBarButton {
    border: none;
    display: inline-block;
    font-size: large;
    padding: 16px 32px;
    transition-duration: 0.5s;
    float: left;
}
.topBar .topBarButton:hover {
    background-color: white;
    color: black;
}
.authenticationFirst {
    margin-left: auto;
}

.dataTable {
    border: 1px solid #1C62A6;
    border-collapse: separate;
    border-spacing: 0;
    /*border-radius: 4px;*/
    box-shadow: 3px 3px lightgray;
}
/*
.dataTable th:first-child {
    border-radius: 4px 0 0 0;
}
.dataTable th:last-child {
    border-radius: 0 4px 0 0;
    border-right: none;
}
.dataTable tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.dataTable tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}
*/
.dataTableHeader {
    padding: 10px;
    background: linear-gradient(to right, #4c8ed7, #56ACFF  3px);
    color: white;
    font-weight: normal;
    border-bottom: 1px solid #1C62A6;
}
.dataTableRowOdd {}
.dataTableRowEven {}
.dataTableRowOdd td {
    padding: 10px;
    background: linear-gradient(to right, #8db8e1, #A2D1FF  3px);
}
.dataTableRowEven td {
    padding: 10px;
    background: linear-gradient(to right, #6ea4d7, #83C2FF  3px);
}

.textEditor {
    background: #ffffff;
}
.textLabel {
    display: block;
    background: #ffffff;
    border: 1px solid gray;
    padding: 10px;
}

.imagePreview {
    max-width: 200px;
    max-height: 200px;
}

button.largeButton, input[type="button"].largeButton, input[type="submit"].largeButton, .largeButton {
    font-size: large;
    width: 200px;
    height: 100px;
    margin: 10%;
}

#mainDiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#base {
    flex-grow: 1;
    margin: 20px 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 3px 3px darkgray;
}
#copyright {
    padding: 20px 0 20px 40%;
    background-color: #56ACFF;
    color: white;
}